@{
    ViewBag.Title = "Cookie and Interest-based Advertising Policy";
    Layout = "_Layout";
}

@section Head {
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
}

<style>
    #main .panel h2 {
        font-size: 18px;
    }

    #main .panel .section {
        padding: 15px;
    }
</style>

<div class="panel full-length" style="line-height: 1.9em;">
    <div class="section">
        <h1>Cookie and Interest-based Advertising Policy</h1>

        <p>
            This policy outlines what cookies and similar tracking technologies Nexplorer uses,
            how it uses them and information on how to opt out of these cookies if you wish to do so.
        </p>

        <h2>Contents</h2>

        <ol>
            <li>
                <a href="#whatAreThey">What are cookies?</a>
            </li>
            <li>
                <a href="#whyDoWe">Why does Nexplorer use them?</a>
            </li>
            <li>
                <a href="#whatDoWe">What types of cookies does Nexplorer use?</a>
            </li>
            <li>
                <a href="#optingOut">Opting out of cookies</a>
            </li>
        </ol>
    </div>

    <div id="whatAreThey" class="section">
        <h2>What are cookies?</h2>

        <p>
            Cookies and similar tracking technologies, such as tags, scripts and beacons, are small pieces
            of code (referred to as cookies hereafter) that are stored on a device (computer, mobile phone, tablet etc)
            and enable a website to "personalise" itself to users by remembering information about the user's visit
            to the website. We also use cookies within emails we may send.
        </p>

        <p>
            Cookies are used to collect information, where available, about your device, your IP address,
            operating system and browser type and how you have interacted with our websites.
        </p>

        <p>
            While cookies are used to identify users and devices, they only ever collect non-personal information such as IP addresses,
            device IDs. If the data cookies collect are ever merged with any other information with which you have provided us, such as
            email addresses, these are anonymised in such a way that identification to actual people is impossible.
        </p>
    </div>

    <div id="whyDoWe" class="section">
        <h2>Why does Nexplorer use them?</h2>

        <p>Nexplorer uses cookies to:</p>

        <ul>
            <li>Store any preferences you have made and display content to you in a more personalised way</li>
            <li>Evaluate Nexplorer's advertising and promotional effectiveness</li>
            <li>Gain insight into the nature of Nexplorer's audience so we can tailor our content accordingly</li>
            <li>Provide interest-based advertising on Nexplorer and on other websites which are tailored to your interests and preferences</li>
        </ul>

        <p>
            Nexplorer has a legitimate interest to use cookies so that it can show you adverts you might be interested in, to control the
            number of times you see an advert and to measure the effectiveness of a campaign.
        </p>
    </div>

    <div id="whatDoWe" class="section">
        <h2>What types of cookies does Nexplorer use?</h2>

        <ul>
            <li>
                Per-session cookies - Nexplorer only uses these while you are visiting the website and they are deleted when you leave. They remember you
                as you move between pages, for example recording the items you add to an online shopping basket. They also help maintain security.
            </li>
            <li>
                Persistent cookies - These cookies stay on your computer until they expire or are deleted. Nexplorer sets automatic deletion dates so that
                your information is not helf for longer than its needed.
            </li>
        </ul>

        <p>Below is a full list of all the different third-party cookies that Nexplorer uses:</p>

        <ul>
            <li>
                <h3>Google Analytics, Google AdSense, DoubleClick</h3>
                Google (www.google.com) operates the Google Display Network: a collection of millions of websites and mobile applications that are
                powered by display advertising, including many Google services like YouTube. Google also operates the DoubleClick digital advertising
                platform: the ad technology foundation to create, transact, and manage digital advertising for the world’s buyers, creators,
                and sellers. The DoubleClick platform includes the DoubleClick Advertising Exchange and Double Click Bid Manager. To learn more about
                how Google collect and use information for online advertising, please visit
                <a target="_blank" href="http://www.google.com/intl/en/privacy.html">http://www.google.com/intl/en/privacy.html</a>.
            </li>
        </ul>
    </div>

    <div id="optingOut" class="section">
        <h2>Opting out of cookies</h2>
        <p>Nexplorer provides you with choice over the use of cookies as described in this policy.</p>

        <p>Please note that Nexplorer may not work correctly if you change certain preferences, such as disabling all cookies.</p>

        <p>
            Please also note that after applying these settings, you will continue to receive advertising, although it may not be tailored to your
            likely interests using information collected from cookies and similar technologies on your device.
        </p>

        <p>
            If you'd rather cookies wern't used when you visit Nexplorer, 
            <a target="_blank" href="http://www.allaboutcookies.org/manage-cookies/clear-cookies-installed.html">click here</a> for information on how to 
            configure your browser settings to reject cookies. Please note, disabling these types of cookies won’t turn off advertising on Nexplorer and 
            the advertising you see may be less relevant to you.
        </p>

        <p>
            Google provides a suite of tools to control its cookies. Google Analytics, which is a tool used to track and report website traffic, provides
            an out-out browser add-on that can be <a target="_blank" href="https://tools.google.com/dlpage/gaoptout">downloaded here</a>. Google Safety Centre has a
            tool where you can control the ads you see on Google and control the data used for serving ads to you. It can be
            <a target="_blank" href="https://www.google.com/safetycenter/tools/#!/">found here</a>.
        </p>

        <p>
            Most browsers allow you to manage cookie settings. These settings can usually be found in the ‘Settings’, ‘Options’ or ‘Preferences’
            menu of your browser. The links below are provided to help you find the settings for some common browsers.
        </p>

        <ul>
            <li>
                Manage cookie settings in <a target="_blank" href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=en">Chrome</a>
                and <a target="_blank" href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&amp;hl=en">Chrome Android</a>
                and <a target="_blank" href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DiOS&amp;hl=en">Chrome iOS</a>
            </li>
            <li>
                Manage cookie settings in
                <a target="_blank" href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Firefox</a>
            </li>
            <li>
                Manage cookie settings in
                <a target="_blank" href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a>
            </li>
            <li>
                Manage cookie settings in <a target="_blank" href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">Microsoft Edge</a>
            </li>
            <li>
                Manage cookie settings in <a target="_blank" href="https://support.apple.com/kb/ph21411?locale=en_US">Safari</a>
                and <a target="_blank" rel="noopener" href="https://support.apple.com/en-gb/HT201265">Safari iOS</a>
            </li>
        </ul>
    </div>
</div>