$container-max-width: 1100px;

$main-bg: #f1f3f6;
$primary: #6362bb;
$secondary: #62b9ba;
$anim-speed: 0.5s;
$panel-height-anim-speed: 2s;

$nav-primary: #fff;
$nav-secondary: #6e6dc0;
$nav-resize-speed: 0.5s;
$nav-height-full: 60px;
$nav-height-xs: 50px;
$hero-height-full: 400px;
$hero-height-xs: 350px;

$input-primary: #000;
$input-secondary: #acadad;
$input-bg: #fff;

$search-bg: #fff;
$search-open-speed: 0.5s;
$search-height-xs: 60px;

$user-menu-width-sm: 300px;