@import "_variables.scss";

#hero {
    -webkit-filter: brightness(.8) saturate(1.2) hue-rotate(204deg);
    filter: brightness(.8) saturate(1.2) hue-rotate(204deg);
}

.text-toggle {
    margin-top: 20px;
}



.address-table {
    margin-top: 20px;
    overflow-y: hidden;
    overflow-x: auto;

    #addressTable {
        th:not(:nth-child(2)) {
            text-align: center;
        }

        td:not(:nth-child(2)) {
            text-align: center;
        }
    }

    .pagination {
        .active {
            a {
                background-color: $primary;
            }
        }
    }
}


@media(min-width: 768px) {
}
