@import "_variables.scss";

#hero {
    -webkit-filter: brightness(.8) saturate(1.2) hue-rotate(204deg);
    filter: brightness(.8) saturate(1.2) hue-rotate(204deg);
}

#heroText {
    h1 {
        margin-top: 13px;
        margin-bottom: 0;
    }

    .title-hash {
        margin: 0;
        word-wrap: break-word;
        font-size: 18px;
        line-height: normal;
    }

    .title-hash-xs {
        margin-top: 15px;
    }

    .identicon-icon {
        width: 85px;
        height: 85px;
        background: #fff;
        border-radius: 15px;
        border: 4px solid $primary;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 5px;

        .identicon {
            width: 70px;
            height: 70px;
            margin: 3.5px auto 0 auto;
        }
    }

    #headerSwiper {
        margin-top: 15px;
    }

    .watch-address {
        font-size: 26px;
        cursor: pointer;
        vertical-align: middle;
        position: relative;
        top: -3px;

        .fa-star {
            &.yellow {
                color: #FFED74;
            }
        }
    }
}

#qrCode {
    display: block;
    margin: 0 auto;
}

#addressOverview {
    background-color: #FAFAFA;
}

#trustKeyOverview {
    text-align: center;
}

.address-stats {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

    .stat-cell {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

#addressActivityChart {
    margin-top: 10px;
}

#addressTx {
    padding-top: 30px;
}

#TxInOut, #txIn, #txOut {
    margin-bottom: 20px;
}

#sentReceiveButtons {
    margin: 10px 0;
    padding-left: 0;
    padding-right: 0;

    .btn-primary {
        border: none;
        border-radius: 0;
        background-color: $primary;
        border: 1px solid $primary;

        &.active {
            background-color: #fff;
            color: $primary;
            font-weight: 600;
            box-shadow: none;
        }

        &.active:hover {
            background-color: #fff;
        }

        &:hover {
            background-color: darken($primary, 10%);
        }
    }
}

#txFilter {
    .form-group {
        margin-top: 15px;

        h3 {
            display: inline;
        }

        select {
            display: inline;
            margin-left: 5px;
            padding-left: 5px;
        }

        .reward-radios {
        }

        label {
            font-weight: 400;
            margin-right: 10px;
            margin-top: 10px;
            position: relative;
            top: -2px;
        }
    }
}

#addressTxs {
    #dataTable {
        tbody {
            tr {
                cursor: pointer;

                &:hover {
                    background-color: lighten($primary, 37%);
                }
            }
        }
    }

    .fa {
        &.tx-type-icon {
            font-size: 15px;
        }

        &.green {
            color: $good-green;
        }

        &.red {
            color: $bad-red;
        }

        &.stake {
            color: $stake-yellow;
        }

        &.mining {
            color: $mining-orange;
        }
    }

    select {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .block-col {
        text-align: center;
    }

    .in-out-col {
        text-align: center;
        vertical-align: middle;
    }

    .balance-col {
        text-align: right;
        vertical-align: middle;
    }

    .list {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    .expand-link {
        margin-top: 5px;
        display: block;
        font-size: 12px;

        &.collapsed:before {
            position: relative;
            content: '+ Show ';
        }

        &.collapsed:after {
            position: relative;
            content: ' more';
        }

        &:not(.collapsed):before {
            position: relative;
            content: '- Show ';
        }

        &:not(.collapsed):after {
            position: relative;
            content: ' less';
        }
    }
}   

@media(min-width: 768px) {
    #heroText {
        h1 {
            margin-top: 5px;
            padding-left: 0;
        }

        .max-width-xs {
            max-width: none;
        }

        .row-center-sm {
            display: flex;
            align-items: center;
        }

        .identicon-icon {
            width: 115px;
            height: 115px;
            border: 4px solid $primary;
            margin-bottom: 0;

            .identicon {
                width: 90px;
                height: 90px;
                margin: 10px auto 0 auto;
            }
        }

        .title-hash {
            font-size: 20px;
        }

        #headerSwiper {
            margin-top: 30px;
        }

        .watch-address {
            font-size: 32px;
            top: -4px;
        }
    }

    #addressStats {
        .stat-cell {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    #trustKeyOverview {
        text-align: left;
    }

    #sentReceiveButtons {
        margin: 10px 0 25px 0;
        text-align: left;
    }

    #txFilter {
        .form-group {
            margin-top: 5px;
            
            select {
                width: 150px;
            }
        }
    }
}

@media(min-width:992px) {
    #heroText {
        .title-hash {
            font-size: 24px;
        }
    }
}
