@import "_variables.scss";

#hero {
    -webkit-filter: brightness(0.7) saturate(1.7) hue-rotate(166deg);
    filter: brightness(0.7) saturate(1.7) hue-rotate(166deg);
}

#heroText {
    
}

#syncOutput {
    margin-top: 15px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;

    .timestamp, .message, .level {
        padding: 2px 10px;
    }
}
