@import "_variables.scss";

#hero {
    -webkit-filter: brightness(0.7) saturate(1.7) hue-rotate(166deg);
    filter: brightness(0.7) saturate(1.7) hue-rotate(166deg);
}

#heroText {
    a {
        font-size: 18px;
    }

    .toggle-seperator {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .block-number {
        font-size: 32px;
    }
}

#txTable {
    margin-top: 20px;
    overflow-y: hidden;
    overflow-x: auto;

    #txTable {
        th:not(:nth-child(2)) {
            text-align: center;
        }

        td:not(:nth-child(2)) {
            text-align: center;
        }
    }

    .fa {
        &.tx-type-icon {
            font-size: 14px;
        }

        &.green {
            color: $good-green;
        }

        &.red {
            color: $bad-red;
        }

        &.stake {
            color: $stake-yellow;
        }

        &.mining {
            color: $mining-orange;
        }
    }

    .in-out-col {
        text-align: center;
        vertical-align: middle;
    }

    .pagination {
        .active {
            a {
                background-color: $primary;
            }
        }
    }
}