@import "_variables.scss";

#hero {
    -webkit-filter: brightness(0.7) saturate(1.7) hue-rotate(166deg);
    filter: brightness(0.7) saturate(1.7) hue-rotate(166deg);
}

#heroText {
    a {
        font-size: 18px;
    }

    .toggle-seperator {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .block-number {
        font-size: 32px;
    }
}
