@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "Components/_form-input.scss";
@import "_variables.scss";

body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

[v-cloak] {
    display: none
}

.container-fluid.max-width {
    max-width: $container-max-width;
    
    &.relative {
        position: relative;
    }
}

.text-right-xs {
    text-align: right;
}

.text-right-sm {
    text-align: left;
}

.text-center-sm {
    text-align: left;
}

.preloader {
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn-flat {
    background: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.btn-primary {
    background-color: $primary !important;
    color: #fff !important;

    .fa {
        color: #fff !important;
    }

    &:hover {
        background-color: lighten($primary, 5%) !important;
    }
}

.text-toggle {
    .active-link {
        color: $primary;
        font-weight: 800;
        cursor: default;
        text-decoration: none !important;
    }

    .toggle-seperator {
        position: relative;
        vertical-align: middle;
        line-height: 0em;
        font-size: 22px !important;
        margin: 0 4px 0 5px;
        color: lighten($primary, 20%) !important;
    }
}

.break-word {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin-bottom: 0;
    min-height: 0;
    border: none;
    border-radius: 0;

    .navbar-bg {
        position: relative;
        z-index: 2;
        border: none;
        border-radius: 0;
        left: 0;
        right: 0;
        -webkit-box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.3);
        box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.3);
        width: 100%;
        background-color: $primary;

        .navbar-header {
            .navbar-toggle {
                float: left;
                margin-right: 10px;

                .icon-bar {
                    background-color: $nav-primary;
                }
            }
        }

        .nav-icon {
            float: right;

            span {
                &:hover, &.active {
                    color: darken($nav-primary, 10%);
                }
            }

            .icon {
                font-size: 26px;
                color: $nav-primary;
                padding: 12px;
            }
        }

        .navbar-brand {
            color: $nav-primary;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: .08em;
            text-transform: uppercase;
            padding: 15px 0;
            height: auto;
        }

        .navbar-search {
            position: absolute;
            z-index: 101;
            top: -70px;
            background-color: $search-bg;
            width: 100%;
            height: $search-height-xs;
            transition: top $search-open-speed;
            text-align: center;

            &.open {
                top: 0;
            }

            &.closed {
                top: -$nav-height-full;
            }

            .nav-search-col {
                position: relative;
                display: inline-block;

                .search-icon {
                    font-size: 28px;
                    color: $input-primary;
                    line-height: $search-height-xs;
                }

                #navSearchClose span:hover {
                    color: $input-secondary;
                }

                .form-group {
                    margin-top: 0;
                    margin-bottom: 0;

                    label {
                        margin: 5px 0 0 0;
                    }

                    input {
                        padding: 0;
                        height: 28px;
                    }
                }

                &.nav-search-col-input {
                    position: relative;
                    width: 80%;
                }
            }

            & button {
                top: -8px;
                height: $search-height-xs;
                width: $search-height-xs * 0.5;
                outline: none;
                border: none;
                text-decoration: none;
            }
        }

        .navbar-nav {
            li {
                a {
                    padding: 15px;
                    font-weight: 400;
                    font-size: 16px;
                    color: $nav-primary;

                    &:hover, &:focus {
                        background-color: $nav-secondary;
                    }
                }
            }

            > .active a {
                background-color: $nav-secondary;
            }
        }
    }

    #userMenu {
        position: absolute;
        left: 15px;
        right: 15px;
        padding: 10px 20px 0 20px;
        background-color: $nav-primary;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.3);
        box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.3);
        transition: top $search-open-speed;
        top: -400px;
        overflow: hidden;

        &.open {
            top: 0;
        }

        &.closed {
            top: -400px;
        }

        &.signed-in {
            width: auto;
        }

        .field {
            --fieldBorderColor: $search-secondary;
            --fieldBorderColorActive: $search-primary;
            --fieldPlaceholderColor: $search-secondary;

            .text-input {
                font-size: 16px;
            }
        }

        ul {
            list-style: none;
            margin: 0 -20px;
            padding: 0;

            li {
                a, button {
                    padding: 10px;
                    font-weight: 400;
                    font-size: 14px;
                    color: $nav-secondary;
                    text-decoration: none;
                    width: 100%;
                    display: block;
                    text-align: left;
                    margin: 0;

                    &:hover, &:focus {
                        background-color: lighten($nav-secondary, 35%);
                    }
                }
            }
        }
    }
}

.nav-pad-in {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.nav-pad-out {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.icon-pad-in {
    padding-top: 6px !important;
    padding-bottom: 9px !important;
}

.icon-pad-out {
    padding-top: 17px !important;
    padding-bottom: 17px !important;
}

#hero {
    position: absolute;
    height: $hero-height-xs + $nav-height-xs;
    width: 100%;
    top: 0;
    background-image: url(../Images/hero-img-xs.jpg);
    background-position: center;
    background-size: cover;
    background-color: #000;

    &.jumbotron {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

#heroText {
    position: relative;
    top: 0;
    background: none;
    width: 100%;
    color: $nav-primary;
    text-shadow: 1px 3px 6px rgba(10, 10, 10, 0.8);

    #heroHeader {
        padding-left: 0;
        padding-right: 0;
    }

    &.jumbotron {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 0;

        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }

        h1 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    a {
        color: $nav-primary;
    }

    p {
        font-size: 16px;
    }

    em {
        font-size: 14px;
    }
    
    .slider {
        max-width: 1050px;
        margin: 0 -15px;

        .slide {
            padding: 15px 20px;

            .slide-body {
                border: 1px solid rgba(112, 112, 112, 0.12);
                border-radius: 4px;
                background-color: rgba(112, 112, 112, 0.32);
                max-width: 250px;
                margin: 0 auto;
                padding: 0 10px;
                height: 65px;

                .icon {
                    float: left;
                    font-size: 40px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    padding-right: 10px;
                }

                .text {
                    float: right;
                    text-align: right;
                }
            }
        }
    }
}

#main {
    background-color: $main-bg;
    padding-top: $nav-height-xs;

    .container-fluid.bg {
        background-color: $main-bg;
        position: relative;
        z-index: 2;
        border-top: 8px solid $nav-secondary;
    }

    .main-body {
        background-color: $main-bg;
        padding: 15px 0 0 0;
        max-width: $container-max-width - 30px;
        margin: 1px auto;
    }

    .card {
        border-radius: 4px;
        padding: 30px 15px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 30px;

        h1, h2, h3 {
            margin-top: 0;
        }

        &.border {
            border: 1px solid #eaeaea;
            background: #fff;
        }
    }

    .panel {
        background: #fff;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        padding: 20px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 30px;

        h1 {
            margin-top: 0;
        }

        h2 {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 600;
        }

        h3 {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 12px;
        }

        .val {
            font-size: 20px;
        }

        .fa {
            font-size: 28px;
            color: $primary;
        }

        &.full-length {
            h3 {
                margin-top: 5px;
            }
        }

        .full-hr-grad {
            background-color: $primary;
        }

        .fa-inline-sm {
            color: #000;
            font-size: 14px;
        }

        .fa-inline-lg {
            position: relative;
            color: #000;
            font-size: 20px;
            top: -1px;
        }
    }
}

#layout {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba($nav-secondary, .6);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba($nav-primary, .6);
    color: $nav-primary;
    font-size: 12px;
    font-weight: 500;

    #tickerTable {
        width: 100%;
        margin: 4px auto;
        max-width: $container-max-width + 40px;

        td {
            width: 20%;

            a {
                text-decoration: none;
                color: $nav-primary;
            }

            .val {
                position: relative;
                border-radius: 4px;
                border-style: solid;
                border-width: 1px;
                border-color: rgba($nav-primary, .4);
                background-color: $nav-secondary;
                margin: 0 3%;
                padding: 2px 0;

                .fa {
                    position: absolute;
                    left: 6px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 12px;
                }

                &:hover {
                    background-color: darken($nav-secondary, 5%);
                    border-color: rgba($nav-primary, .7);
                }
            }
        }
    }

    #cookieWarning {
        width: 100%;
        position: fixed;
        height: 110px;
        background-color: rgba(0, 0, 0, 0.75);
        bottom: 0;
        z-index: 3;
        color: #fff;
        transition: height 0.5s ease-out;

        a {
            color: #fff;
            text-decoration: underline;
        }

        p {
            padding: 25px;
        }

        .fa-close {
            float: right;
            font-size: 22px;
            padding: 15px;
            text-decoration: none;

            &:hover {
                color: #ccc;
            }
        }
    }
}

#footer {
    background-color: #27323c;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    border-top: 8px solid $nav-secondary;

    .container-fluid {
        .row {
            max-width: $container-max-width - 30px;
            margin: 1px auto;
        }
    }

    a {
        color: $nav-primary;
    }

    ul {
        list-style: none;
        margin: 0 0 30px 0;
        padding: 0 0 15px 0;
        border-bottom: 1px solid #3c4d5d;

        li {
            text-decoration: none;
            word-break: break-word;
            margin: 15px 0;
            font-size: 12px;

            .fa {
                font-size: 24px;
                vertical-align: middle;
                padding-right: 10px;
                position: relative;
                top: -1px;

                &.sm {
                    font-size: 16px;
                }
            }

            .coin-add {
                font-size: 10px;
            }
        }
    }

    .copy-text {
        margin: 0 0 30px 0;
        font-size: 13px;
    }
}

/*Transaction Table*/
#transactionTable {
    td {
        vertical-align: middle;
    }
}
/**/


/* Collapsable read more */
.read-more {
    ul.collapse:not(.show) {
        height: 40px !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    ul.collapsing {
        min-height: 40px !important;
    }

    .expand-link {
        &.collapsed:after {
            position: relative;
            content: '+ Show more';
        }

        &:not(.collapsed):after {
            position: relative;
            content: '- Show Less';
        }
    }
}
/**/

@media(min-width: 768px) {
    .text-right-xs {
        text-align: left;
    }

    .text-right-sm {
        text-align: right;
    }

    .text-center-sm {
        text-align: center;
    }

    .text-toggle {
        .toggle-seperator {
            margin: 0 6px 0 9px;
        }
    }

    .navbar {
        .navbar-bg {
            .nav-icon {
                .icon {
                    padding: 17px;
                    transition: padding $nav-resize-speed;
                }
            }

            .navbar-brand {
                padding: 20px;
                transition: padding $nav-resize-speed;
            }

            .navbar-search {
                height: $nav-height-full;

                .nav-search-col {
                    .search-icon {
                        font-size: 34px;
                    }

                    &.nav-search-col-input {
                        width: 80%;
                    }
                }
            }

            .navbar-nav {
                li {
                    a {
                        padding: 20px;
                        transition: padding $nav-resize-speed;
                    }
                }
            }
        }

        #userMenu {
            right: 15px;
            left: unset;
            width: $user-menu-width-sm;

            &.signed-in {
                width: 200px;
            }
        }
    }

    #hero {
        height: $hero-height-full + $nav-height-full;
        background-image: url(../Images/hero-img.jpg);
    }

    #heroText {
        #heroHeader {
            padding-left: 30px;
            padding-right: 30px;
        }

        &.jumbotron {
            padding-top: 30px;
            padding-bottom: 30px;

            .container-fluid {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        .slider {
            margin: 20px 0 0 0;
        }

        p {
            font-size: 21px;
        }

        em {
            font-size: 16px;
        }
    }

    #main {
        padding-top: $nav-height-full;

        .main-body {
            padding: 15px 30px 0 30px;
        }

        .card {
            padding: 30px;
            margin-left: 0;
            margin-right: 0;
        }

        .panel {
            margin-left: 0;
            margin-right: 0;

            .full-hr-grad {
                background: rgba(100,98,187,1);
                background: -moz-linear-gradient(left, rgba(100,98,187,1) 0%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100,98,187,1)), color-stop(58%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
                background: -webkit-linear-gradient(left, rgba(100,98,187,1) 0%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 100%);
                background: -o-linear-gradient(left, rgba(100,98,187,1) 0%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 100%);
                background: -ms-linear-gradient(left, rgba(100,98,187,1) 0%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 100%);
                background: linear-gradient(to right, rgba(100,98,187,1) 0%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6462bb', endColorstr='#ffffff', GradientType=1 );
            }

            &.no-pad {
                padding-left: 0;
                padding-right: 0;

                .add-pad {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }

    #transactionTable {
        .hash-cell {
            max-width: 390px;
            padding-right: 30px;
            word-wrap: break-word;
        }
    }

    #layout {
        font-size: 14px;

        #tickerTable {
            td {
                width: 20%;

                .val {
                    margin: 0 10%;
                    padding: 2px 0;

                    .fa {
                        left: 6px;
                        font-size: 16px;
                    }
                }
            }
        }

        #cookieWarning {
            width: 350px;
            height: 150px;
            bottom: 0;
        }
    }

    #footer {
        .container-fluid {
            .row {
                padding-left: 45px;
                padding-right: 45px;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            border-bottom: none;
        }

        .copy-text {
            margin: 30px 0 30px 0;
        }
    }
}

@media(min-width: $container-max-width) {
    #heroText {
        .slider {
            margin: 20px auto 0 auto;
        }
    }

    #ticker {
        #tickerTable {
            width: 80%;
        }
    }
}
/*Animations*/
.animated-single {
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 0.8s;
}