@import "_variables.scss";

#hero {
    -webkit-filter: brightness(.8) saturate(1.2) hue-rotate(266deg);
    filter: brightness(.8) saturate(1.2) hue-rotate(266deg);
}

.text-toggle {
    margin-top: 20px;
}

#customFilter {
    margin-top: 20px;
    padding: 20px;
    background-color: lighten($primary, 40%);
    border-radius: 4px;

    #customFilterForm {
        .btn {
            width: 100%;
            height: 35px;
            padding: 0;
            margin-bottom: 10px;
        }
    }
}

#txTable {
    margin-top: 20px;
    overflow-y: hidden;
    overflow-x: auto;

    #txTable {
        th:not(:nth-child(2)) {
            text-align: center;
        }

        td:not(:nth-child(2)) {
            text-align: center;
        }
    }

    .fa {
        &.tx-type-icon {
            font-size: 14px;
        }

        &.green {
            color: $good-green;
        }

        &.red {
            color: $bad-red;
        }

        &.stake {
            color: $stake-yellow;
        }

        &.mining {
            color: $mining-orange;
        }
    }

    .in-out-col {
        text-align: center;
        vertical-align: middle;
    }

    .amount-col {
        text-align: right;
    }

    .pagination {
        .active {
            a {
                background-color: $primary;
            }
        }
    }
}


@media(min-width: 768px) {
}
