@import 'Partials/_variables.scss';

#hero {
    -webkit-filter: brightness(.8) saturate(1.2) hue-rotate(266deg);
    filter: brightness(.8) saturate(1.2) hue-rotate(266deg);
}

#heroText {
    .block-number {
        font-size: 35px;
        margin-left: 10px;
    }
}

@media(min-width: 768px) {
}
