@import '../Partials/_variables.scss';

.date-picker {
    position: relative;

    .focused-input {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.175);
        border-color: #333333;
    }

    .calendar {
        width: 275px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 15px;
        position: absolute;
        background: #fff;
        box-shadow: 6px 11px 37px -17px rgba(0,0,0,0.75);
        z-index: 1000;
        transition: all .5s ease;

        .month-title {
            text-align: center;
        }

        &.centre {
            margin: 30px auto;
        }

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }

        table {
            margin-bottom: 10px;

            th, td {
                text-align: center;
                width: 14%;
                height: 38px;
            }

            td {
                vertical-align: middle;
                border: 1px solid #ccc;
                cursor: pointer;

                &.available {
                    &:hover {
                        background-color: lighten($primary, 30%);
                        color: #fff;
                    }
                }

                &.disabled {
                    cursor: default;
                    color: #fff;
                    border: none;
                }

                &.reserved {
                    background-color: #ffe8e8;
                    color: #ddd;
                    cursor: default;
                }

                &.unavailable {
                    cursor: default;
                    color: #ddd;
                }

                &.selected {
                    background-color: lighten($primary, 20%);
                    color: #fff;
                }

                &.today {
                    border: 2px solid #d85808;
                    position: relative;
                    z-index: 100;
                }
            }
        }

        .chevron {
            position: relative;
            top: 5px;
            font-size: 18px;
            color: #000;
        }

        .calender-controls {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media(min-width: 768px) {
    .date-picker {
        .calendar {
            width: 350px;

            &.left {
                left: 20px;
            }

            &.right {
                right: 20px;
            }

            table {
                th, td {
                    width: 45px;
                }
            }
        }
    }
}