@import '../Partials/_variables.scss';

.dt-wrapper {
    position: relative;
    margin-top: 20px;
}

.data-table {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .dt-body {
        min-height: 150px;

        .dt-row {
            padding-top: 8px;
            padding-bottom: 8px;
            cursor: pointer;

            &.row-index {
                position: relative;
                padding-left: 30px;

                .index {
                    position: absolute;
                    left: 0;
                    text-align: center;
                    width: 30px;
                    top: 49%;
                    transform: translateY(-50%);

                    strong {
                        font-size: 12px;
                    }
                }
            }

            &.odd-row {
                background-color: #f2f2f2
            }
        }

        .dt-col, .dt-head {
            padding: 5px;
        }
    }

    .dt-controls {
        margin-top: 15px;
        text-align: center;

        label, select {
            display: inline;
        }

        .total-results {
            font-weight: 200;
            font-size: 16px;
        }

        .paging {
            display: flex;
            justify-content: center;
            padding-left: 0;
            list-style: none;
            border-radius: 4px;
            margin: 2px 0;
            white-space: nowrap;

            li {
                a {
                    position: relative;
                    display: block;
                    padding: 8px 10px;
                    margin-left: -1px;
                    line-height: 1.25;
                    color: $primary;
                    background-color: $secondary;
                    border: 1px solid #dee2e6;
                    text-decoration: none;

                    &.active {
                        background-color: $primary;
                        color: $secondary;

                        &:hover {
                            cursor: default;
                        }
                    }

                    &.enabled {
                        &:hover {
                            color: #403f91;
                            background-color: #e9ecef;
                            border-color: #dee2e6;
                        }
                    }

                    &.disabled {
                        &:hover {
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
}


@media(min-width: 768px) {
    .data-table {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0;

        .row {
            margin-left: -15px;
            margin-right: -15px;
        }

        .data-table-col, .data-table-head {
            padding: 12px;
        }

        .dt-controls {
            text-align: left;

            .paging {
                justify-content: flex-end;
            }
        }
    }
}