@import 'Partials/_variables.scss';

.form-group {
    .form-control {
        width: 100%;
        border: none;
        border-bottom: 2px solid $input-secondary;
        border-radius: 0;
        transition: border $anim-speed;
        box-shadow: none;

        &:focus {
            background-color: $input-bg;
            border-bottom: 2px solid $input-primary;
        }

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px #fff inset;
        }
    }

    button {
        width: 100%;
    }

    p {
        word-wrap: break-word;
    }

    .field-validation-error {
        display: block;
        margin-top: 5px;
        padding-left: 5px;
    }

    .input-group {
        .input-group-addon {
            border: none;
            border-radius: 0;
            background-color: #fff;
            font-size: 20px;
        }
    }

    .radio-inline {
        top: 2px;
    }
}