$h1-font-size: 1.25rem; // 20px
$h2-font-size: 1.125rem; // 18px
$h3-font-size: 1.0625rem; // 17px
$h4-font-size: 1rem; // 16px
$h5-font-size: 1rem; // 16px
$h6-font-size: 1rem; // 16px

$container-max-width: 1100px;

$main-bg: #f1f3f6;
$primary: #6362bb;
$secondary: #fff;
$anim-speed: 0.5s;
$panel-height-anim-speed: 2s;

$nav-primary: #fff;
$nav-secondary: #6e6dc0;
$nav-resize-speed: 0.5s;
$nav-height: 40px;
$hero-height-full: 400px;
$hero-height-xs: 350px;
$layout-bar-height: 30px;

$input-primary: #000;
$input-secondary: #acadad;
$input-bg: #fff;

$search-bg: #fff;
$search-open-speed: 0.5s;
$search-height-full: 70px;
$search-height-xs: 60px;

$user-menu-width-sm: 300px;

$good-green: #29a520;
$bad-red: #e13232;
$stake-yellow: #eae630;
$mining-orange: #e1902d;