@using Nexplorer.Web.Views.Manage

@{
    ViewData["Title"] = "Nexplorer Admin";
}

@section Head {
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
}

<div class="panel full-length" style="line-height: 1.9em;">
    <div class="section">
        <h1>Welcome back @User.Identity.Name <span class="fa fa-hand-peace-o" style="font-size: 40px;"></span></h1>
    </div>
</div>

@section Scripts {
}
