@using Nexplorer.Web.Views.Manage

@{
    ViewData["Title"] = "Nexplorer Admin";
    Layout = "_Layout";
}

@section Head {
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" href="@ViewBag.ControllerCss" />
}

@section Header {
    <div id="hero" class="jumbotron jumbotron-fluid"></div>
    <div id="heroText" class="jumbotron jumbotron-fluid">
        <div class="container-fluid max-width">
            <div id="heroHeader">
                <span>Welcome back</span>
                <h1>@User.Identity.Name <span class="fa fa-hand-peace-o" style="font-size: 40px;"></span></h1>
            </div>
        </div>
    </div>
}

<div class="panel full-length">
    <div class="row">
        <div class="col-xs-9">
            <h2>SYNC OUTPUT</h2>
        </div>
        <div class="col-xs-3 text-right">
            <span class="fa fa-inbox"></span>
        </div>
    </div>
    <div id="syncOutput">
        <div class="row" v-for="line in syncOutputs">
            <div class="col-sm-3">
                <span class="timestamp">{{ line.timestamp }}</span>
            </div>
            <div class="col-sm-7">
                <span class="message">{{ line.message }}</span>
            </div>
            <div class="col-sm-2 text-right">
                <span class="level">{{ line.level }}</span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script language="javascript" src="@ViewBag.ControllerJs"></script>
    <script language="javascript">
        var vm = new nexplorer.AdminIndexViewModel({
        });
    </script>
}
