<div v-show="onScreenTxType === txType">
    <hr/>
    <div class="tx-table-wrapper" v-if="pageCount === 0">
        <p class="h5 text-center" style="margin-top: 15px;">There are no transactions.</p>
    </div>
    
    <img class="tx-table-wrapper preloader" src="/img/preloader.gif" v-if="pageCount > 0 && currentPageTxs.length === 0"/>

    <div class="tx-table-wrapper" v-if="currentPageTxs.length > 0">
        <div class="tx-table-row" v-for="(tx, key) in currentPageTxs">
            <div class="row">
                <div class="col-xs-2 col-sm-1 text-center-sm inOutIcon" style="margin-top: -4px;">
                    <i class="fa fa-sign-out sent-tx-colour" v-if="tx.txType == 1" style="font-size: 30px;"></i>
                    <i class="fa fa-sign-in rec-tx-colour" v-if="tx.txType == 2" style="font-size: 30px;"></i>
                </div>
                <div class="col-xs-10 col-sm-2 text-right-xs">
                    <p class="val" style="font-size: 15px;">{{ getDate(tx.timeUtc) }}</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p style="word-wrap: break-word; font-size: 12px; margin: 0;">
                        <a v-bind:href="'/transactions/' + tx.transactionHash">{{ tx.transactionHash }}</a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3 text-right">
                    <p class="val val-amount" style="font-size: 16px;" v-bind:class="{ 'sent-tx-colour': tx.txType == 1, 'rec-tx-colour': tx.txType == 2  }">
                        <span v-if="tx.txType == 1">-</span>{{ tx.amount.toLocaleString() }} <span style="font-size: 12px;">NXS</span>
                    </p>
                </div>
            </div>
            <hr v-if="key < currentPageTxs.length - 1"/>
        </div>
    </div>

    <hr/>
    
    <div style="position: relative; bottom: 0;">
        <custom-pager-bottom v-on:page-change="changePage"
                             v-bind:page-count="pageCount"
                             v-bind:current-page="currentPage"
                             v-bind:disabled="currentPageTxs.length === 0"></custom-pager-bottom>
    </div>
</div>