<div id="addressTable">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Hash</th>
                <th class="text-right">Balance</th>
                <th class="d-none d-sm-block text-right">First seen</th>
                <th class="d-none d-sm-block text-right">Last seen</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(address, i) in currentPageItems">
                <td><b>{{ ++i + ((currentPage - 1) * currentPageItems.length) }}</b></td>
                <td class="hash-cell">
                    <a v-bind:href="'/addresses/' + address.hash">
                        <span class="d-block d-sm-none">{{ truncateHash(address.hash, 5) }}</span>
                        <span class="d-none d-sm-block d-md-none">{{ truncateHash(address.hash, 20) }}</span>
                        <span class="d-none d-md-block">{{ address.hash }}</span>
                    </a>
                </td>
                <td class="text-right">{{ Math.round(address.balance).toLocaleString() }} <span style="font-size: 10px;">NXS</span></td>
                <td class="d-none d-sm-block text-right"><a v-bind:href="'/blocks/' + address.firstBlockHeight">{{ address.firstBlockHeight.toLocaleString() }}</a></td>
                <td class="d-none d-sm-block text-right"><a v-bind:href="'/blocks/' + address.lastBlockHeight">{{ address.lastBlockHeight.toLocaleString() }}</a></td>
            </tr>
        </tbody>
    </table>

    <bootstrap-pager v-if="!pagingDisabled" 
                     v-on:page-change="changePage" 
                     v-bind:page-count="5" 
                     v-bind:current-page="currentPage" 
                     v-bind:disabled="currentPageItems.length === 0"></bootstrap-pager>
</div>
