<div class="modal fade" id="editFavouriteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Favourite</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span class="text-danger" v-if="errorMessage">{{ errorMessage }}</span>
                <div class="form-group">
                    <label>Hash</label>
                    <p>{{ bufferItem.hash ? bufferItem.hash : '' }}</p>
                </div>
                <div class="form-group">
                    <label>Alias</label>
                    <input class="form-control" v-model="bufferItem.alias"/>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-default" v-on:click.prevent.stop="updateFavourite">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
