<div id="blockTable">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Height</th>
                <th>Channel</th>
                <th class="hidden-xs text-right">Size</th>
                <th><span class="hidden-xs">Txs</span><span class="visible-xs">TXs</span></th>
                <th style="width: 100px">Age</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="block in currentPageItems" v-on:click="selectRow('/blocks/' + block.height)" style="cursor: pointer;">
                <td><a v-bind:href="'/blocks/' + block.height">{{ block.height.toLocaleString() }}</a></td>
                <td>{{ block.channel }}</td>
                <td class="hidden-xs text-right">{{ block.size.toLocaleString() }} <small style="font-size: 10px">B</small></td>
                <td>{{ block.transactionCount }}</td>
                <td style="width: 100px"><date-age :fromDate="block.timestamp" :precise="true"></date-age></td>
            </tr>
        </tbody>
    </table>

    <bootstrap-pager v-if="!pagingDisabled" 
                     v-on:page-change="changePage" 
                     v-bind:page-count="5" 
                     v-bind:current-page="currentPage" 
                     v-bind:disabled="currentPageItems.length === 0"></bootstrap-pager>
</div>