<div>
    <div v-for="item in items.slice(0, minItems)">
        <slot name="list" :item="item"></slot>
    </div>
    <transition name="slide">
        <div v-if="expanded">
            <div v-for="item in items.slice(minItems)">
                <slot name="list" :item="item"></slot>
            </div>
        </div>
    </transition>
    <div class="mt-2" v-if="items.length > 2" v-on:click.stop.prevent="expanded = !expanded">
        <span style="font-size: 12px; position: relative; top: -2px;" :class="expanded ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></span>
        <a href="#">{{expanded ? 'Hide' : `Show ${items.length - 2} more`}}</a>
    </div>
</div>
