<div style="position: relative;">
    <preloader v-if="!showTable"></preloader>
    
    <div class="text-toggle">
        <span v-for="(filter, i) in filters">
            <a href="#" v-on:click.prevent.stop="changeFilter(i)" v-bind:class="filterIndex == i ? 'active-link' : ''">{{ filter.name }}</a>
            <span v-if="i < filters.length - 1" class="toggle-seperator fa fa-ellipsis-v"></span>
        </span>
    </div>
    
    <div class="custom-filter" v-if="currentFilter.isCustom" v-cloak>
        <slot :criteria="customCriteria"></slot>
    </div>
    
    <div class="data-table">
        <div class="row data-table-header">
            <div v-for="c in columns" :class="parseClass(c, 'data-table-head')" v-html="c.header"></div>
        </div>

        <div class="row data-table-body" v-for="(data, i) in tableData">
            <div v-for="c in columns" :class="parseClass(c, 'data-table-col')" v-html="c.render(data[c.key])"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <select class="form-control" v-model="pageLength" v-on:change="changeLength()">
                    <option v-for="pl in availableLengths" v-bind:value="pl">{{pl}}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <a href="#" v-on:click.prevent.stop="changePage(1)">First</a>
            <a href="#" v-on:click.prevent.stop="changePage(page - 1)">Prev</a>
            {{ page }}
            <a href="#" v-on:click.prevent.stop="changePage(page + 1)">Next</a>
            <a href="#" v-on:click.prevent.stop="changePage(null)">Last</a>
        </div>
    </div>
</div>