<div style="position: relative;">

    <div class="text-toggle">
        <span v-for="(filter, i) in filters">
            <a href="#" v-on:click.prevent.stop="changeFilter(i)" v-bind:class="filterIndex == i ? 'active-link' : ''">{{ filter.name }}</a>
            <span v-if="i < filters.length - 1" class="toggle-seperator fa fa-ellipsis-v"></span>
        </span>
    </div>
    
    <div class="custom-filter" v-if="currentFilter.isCustom" v-cloak>
        <slot name="dt-criteria" :dtCriteria="dtCriteria"></slot>
    </div>
    
    <div class="data-table">
        <div class="dt-body">
            <preloader v-if="!showTable"></preloader>
            
            <slot name="dt" :dt="dt">
                <div class="row">
                    <div v-for="c in columns" :class="parseColClass(c, 'dt-head')" v-html="c.header"></div>
                </div>

                <div v-for="(data, i) in tableData" :class="parseRowClass(i)">
                    <div v-for="c in columns" :class="parseColClass(c, 'dt-col')" v-html="c.render(data[c.key])"></div>
                </div>
            </slot>
        </div>

        <div class="row dt-controls">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="pageLength">Show me</label>
                    <select id="pageLength" class="form-control" style="width: auto;" v-model="pageLength" v-on:change="changeLength()">
                        <option v-for="pl in availableLengths" v-bind:value="pl">{{pl}}</option>
                    </select>
                    <span class="total-results">of  {{ tableDataCount }}</span>
                </div>
            </div>
            <div class="col" v-if="tableDataCount > pageLength">
                <ul class="paging">
                    <li class="d-none d-sm-inline"><a href="#" :class="page > 1 ? 'enabled' : 'disabled'" v-on:click.prevent.stop="changePage(page - 1)">Prev</a></li>
                    
                    <li v-for="pn in pageNumbers">
                        <a href="#" :class="pageNumberClass(pn)" v-on:click.prevent.stop="changePage(pn)">{{pn}}</a>
                    </li>

                    <li class="d-none d-sm-inline"><a href="#" :class="page < pageCount ? 'enabled' : 'disabled'" v-on:click.prevent.stop="changePage(page + 1)">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>