<div class="date-picker">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="startDate">Start date</label>
                <input id="startDate" ref="startDate" class="form-control" type="text" autocomplete="off"
                       v-model="selectedFromDate.selectedDateText"
                       v-on:change="parseInputFrom"
                       v-on:focus="showCalendarFrom" 
                       v-bind:class="selectingFromDate ? 'focused-input' : ''" />
                <span class="field-validation-error" v-if="errorMessageFrom">{{ errorMessageFrom }}</span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="endDate">End date</label>
                <input id="endDate" ref="endDate" class="form-control" type="text" autocomplete="off"
                       v-model="selectedToDate.selectedDateText"
                       v-on:change="parseInputTo"
                       v-on:focus="showCalendarTo"
                       v-bind:class="!selectingFromDate ? 'focused-input' : ''" />
                <span class="field-validation-error" v-if="errorMessageTo">{{ errorMessageTo }}</span>
            </div>
        </div>
    </div>
    <div id="calendar" ref="calendar" :class="calendarClass" v-if="showCalendar">
        <div class="row">
            <div class="col-2">
                <a href="#" v-on:click.prevent.stop="changeMonth(currentMonthOffset - 1)" v-if="showPrevLink">
                    <span class="fa fa-chevron-left chevron"></span>
                </a>
            </div>
            <div class="col">
                <h3 class="month-title">{{ currentMonthName }}</h3>
            </div>
            <div class="col-2 text-right">
                <a href="#" v-on:click.prevent.stop="changeMonth(currentMonthOffset + 1)" v-if="showNextLink">
                    <span class="fa fa-chevron-right chevron"></span>
                </a>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in monthRows">
                <td v-if="" v-for="dayMoment in row" v-bind:class="getDateClass(dayMoment)" v-on:click.prevent.stop="clickDate(dayMoment)">
                    {{ dayMoment.date() }}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="calender-controls">
            <a href="#" v-on:click.prevent.stop="clearCalendar()">Clear calendar</a>
            <a class="text-right" href="#" v-on:click.prevent.stop="clearCalendar()">Clear calendar</a>
        </div>        
    </div>
</div>