<div id="transactionTable">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th class="text-right">Amount</th>
                <th class="hidden-xs">In</th>
                <th class="hidden-xs">Out</th>
                <th style="width: 100px">Age</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="tx in currentPageItems" v-on:click="selectRow('/transactions/' + tx.transactionHash)" style="cursor: pointer;">
                <td><a v-bind:href="'/transactions/' + tx.transactionHash">{{ $layoutHub.parseTxType(tx.transactionType) }}</a></td>
                <td class="text-right">{{ tx.amount.toLocaleString() }} <span style="font-size: 10px;">NXS</span></td>
                <td class="hidden-xs">{{ tx.transactionInputCount.toLocaleString() }}</td>
                <td class="hidden-xs">{{ tx.transactionOutputCount.toLocaleString() }}</td>
                <td style="width: 100px"><date-age :fromDate="tx.timestamp" :precise="true"></date-age></td>
            </tr>
        </tbody>
    </table>
    <bootstrap-pager v-if="!pagingDisabled" 
                     v-on:page-change="changePage" 
                     v-bind:page-count="5" 
                     v-bind:current-page="currentPage" 
                     v-bind:disabled="currentPageItems.length === 0"></bootstrap-pager>
</div>