<div id="transactionTable">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th class="text-right">Amount</th>
                <th class="hidden-xs text-center">In</th>
                <th class="hidden-xs text-center">Out</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="tx in currentPageItems" v-on:click="selectRow('/transactions/' + tx.hash)" style="cursor: pointer;">
                <td><a v-bind:href="'/transactions/' + tx.hash">{{ $layoutHub.parseTxType(tx.transactionType) }}</a></td>
                <td class="text-right">{{ tx.amount.toLocaleString() }} <span style="font-size: 10px;">NXS</span></td>
                <td class="hidden-xs text-center">{{ tx.inputs ? tx.inputs.length.toLocaleString() : '0' }}</td>
                <td class="hidden-xs text-center">{{ tx.outputs ? tx.outputs.length.toLocaleString() : '0' }}</td>
                <td><date-age :fromDate="tx.timestamp" :precise="true"></date-age></td>
            </tr>
        </tbody>
    </table>
    <bootstrap-pager v-if="!pagingDisabled" 
                     v-on:page-change="changePage" 
                     v-bind:page-count="5" 
                     v-bind:current-page="currentPage" 
                     v-bind:disabled="currentPageItems.length === 0"></bootstrap-pager>
</div>