@using Microsoft.AspNetCore.Identity
@using Nexplorer.Config
@using Nexplorer.Domain.Entity.User
@using Nexplorer.Web.Enums
@using Nexplorer.Web.Extensions
@using Nexplorer.Web.Services.User

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject UserService UserService

@model Nexplorer.Web.Models.AccountViewModels.LoginViewModel

<div id="userMenu" ref="userMenu" v-bind:class="userMenuCss">
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-controller="account" asp-action="logout" method="post" id="logoutForm">
            <ul>
                <li>
                    <a asp-controller="manage" asp-action="index">Account</a>
                </li>
                <li>
                    <a asp-controller="favourites" asp-action="index">Favourites</a>
                </li>
                @if (User.UserHasAccessLevel(UserRoles.Admin))
                {
                    <li>
                        <hr style="margin: 5px 0;"/>
                        <a asp-controller="admin" asp-action="index">Admin</a>
                    </li>
                }
                <li>
                    <hr style="margin: 5px 0;"/>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <form asp-controller="account" asp-action="login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <label asp-for="SignInUsername"></label>
                <input asp-for="SignInUsername" class="form-control" />
                <span asp-validation-for="SignInUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignInPassword"></label>
                <input asp-for="SignInPassword" class="form-control" />
                <span asp-validation-for="SignInPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>                    
            <div class="form-group">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
            <div class="form-group">
                <p>
                    <a asp-controller="account" asp-action="forgotpassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-controller="account" asp-action="register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                </p>
            </div>
        </form>
    }
</div>
