<div class="row text-center" style="max-width: 1050px; margin: 0 auto;">
    <!-- Top -->
    <ins class="adsbygoogle"
         style="display: block; margin-bottom: 30px;"
         data-ad-client="ca-pub-6209150577224148"
         data-ad-slot="6438990506"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
</div>