@*<div class="panel">
            <iframe data-aa='1082377' src='//acceptable.a-ads.com/1082377' scrolling='no' style='border: 0px; padding: 0; overflow: hidden' allowtransparency='true'></iframe>
        </div>*@
        
<div class="row text-center" style="max-width: 1050px; margin: 20px auto 0 auto;">
    <div class="hidden-xs adbit-display-ad" data-adspace-id="1290C3C470"></div>
    <div class="visible-xs adbit-display-ad" data-adspace-id="DC04C0809A" style="margin-left: -15px; margin-right: -15px;"></div>
</div>