<div class="row text-center" style="max-width: 1050px; margin: 0 auto 30px 0;">
    <Adsense
        data-ad-client="ca-pub-6209150577224148"
        data-ad-slot="6438990506">
    </Adsense>
</div>