@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Whoooops!</h1>
<h3>Nexplorer fell over. This may only be temporary check back in a minute, or refer to <a href="https://nxsorbitalscan.com/">NXS Orbital Scan</a></h3>

