@using Nexplorer.Domain.Enums
@model object

@{
    ViewBag.Title = "Transactions";
    Layout = "_Layout";
}

@section Head {
    <link rel="stylesheet" href="@ViewBag.ControllerCss" />
}

@section Header {
    <div id="hero" class="jumbotron jumbotron-fluid"></div>
    <div id="heroText" class="jumbotron jumbotron-fluid">
        <div class="container-fluid max-width">
            <div id="heroHeader">
                <h1>TRANSACTIONS</h1>
                @*<em>
                    Bitcoin private keys are 256 bits in length,<br />
                    Nexus private keys are more than twice as long at 571 bits.
                </em>*@
            </div>

            @*<div>
                <swiper>
                    <swiper-slide :slide-title="'Total Addresses'" :slide-val="totalAddresses" :slide-icon="'fa-angle-double-up'"></swiper-slide>
                    <swiper-slide :slide-title="'Average Balance'" :slide-val="averageBalance" :slide-icon="'fa-balance-scale'"></swiper-slide>
                    <swiper-slide :slide-title="'Creation Rate'" :slide-val="newAddressRate" :slide-icon="'fa-plus-circle'"></swiper-slide>
                    <swiper-slide :slide-title="'Staking Count'" :slide-val="amountStaking" :slide-icon="'fa-bolt'"></swiper-slide>
                    <swiper-slide :slide-title="'Staked Coins'" :slide-val="totalStakedCoins" :slide-icon="'fa-bolt'"></swiper-slide>
                    <swiper-slide :slide-title="'With 1000+ NXS'" :slide-val="stakeablePercentage" :slide-icon="'fa-money'"></swiper-slide>
                    <swiper-slide :slide-title="'Dormant 1+ Years'" :slide-val="percentageDormant" :slide-icon="'fa-bed'"></swiper-slide>
                    <swiper-slide :slide-title="'Zero Balance'" :slide-val="zeroBalance" :slide-icon="'fa-ban'"></swiper-slide>
                </swiper>
            </div>*@
        </div>
    </div>
}

@{ await Html.RenderPartialAsync("_AdvertBanner"); }

<div class="panel full-length">
    <div class="row">
        <div class="col-8">
            <h2>FILTER TRANSACTIONS</h2>
        </div>
        <div class="col-4 text-right">
            <span class="fa fa-filter"></span>
        </div>
    </div>

    <tx-table id="txTable" ref="txTable" :options="dtOptions" :columns="columns" v-on:row-click="selectTransaction">
        <template #dt-criteria="dt">
            <form class="custom-filter-form">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>AMOUNT</h3>
                        <br/>
                        <div class="form-group">
                            <label for="amountMin">Min Amount</label>
                            <input type="number" class="form-control" id="amountMin" v-model="dt.dtCriteria.criteria.minAmount" v-on:change="dt.dtCriteria.reload(true)">
                        </div>
                        <div class="form-group">
                            <label for="amountMax">Max Amount</label>
                            <input type="number" class="form-control" id="amountMax" v-model="dt.dtCriteria.criteria.maxAmount" v-on:change="dt.dtCriteria.reload(true)">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h3>HEIGHT</h3>
                        <br/>
                        <div class="form-group">
                            <label for="lastSeenFrom">Min Height</label>
                            <input type="number" class="form-control" id="lastSeenFrom" v-model="dt.dtCriteria.criteria.heightFrom" v-on:change="dt.dtCriteria.reload(true)">
                        </div>
                        <div class="form-group">
                            <label for="lastSeenTo">Max Height</label>
                            <input type="number" class="form-control" id="lastSeenTo" v-model="dt.dtCriteria.criteria.heightTo" v-on:change="dt.dtCriteria.reload(true)">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h3>OPTIONS</h3>
                        <br/>
                        <div class="form-group">
                            <label for="orderBy">Order By</label>
                            <select asp-items="Html.GetEnumSelectList<OrderTransactionsBy>()" id="orderBy" class="form-control" v-model="dt.dtCriteria.criteria.orderBy" v-on:change="dt.dtCriteria.reload(true)"></select>
                        </div>
                        <div class="form-group">
                            @{
                                var selectList = new List<SelectListItem> {new SelectListItem("All", null)};
                                selectList.AddRange(Html.GetEnumSelectList<TransactionType>());
                            }

                            <label for="txType">Transaction Type</label>
                            <select asp-items="selectList" id="txType" class="form-control" v-model="dt.dtCriteria.criteria.txType" v-on:change="dt.dtCriteria.reload(true)"></select>
                        </div>
                    </div>
                </div>
                <small class="text-muted" style="display: block;">
                    All fields are optional, 1000 results maximum.
                </small>
            </form>
        </template>
    </tx-table>
</div>


@section Scripts {
    <script language="javascript" src="@ViewBag.ControllerJs"></script>
    <script language="javascript">
        var vm = new nexplorer.TransactionViewModel({
            txsPerPage: 10
        });
    </script>
}
