@model FavouriteIndexViewModel

@{
    ViewBag.Title = "Favourite Addresses";
    Layout = "_Layout";
}

@section Header {
    <div id="hero" class="jumbotron jumbotron-fluid"></div>
    <div id="heroText" class="jumbotron jumbotron-fluid">
        <div class="container-fluid max-width">
            <h1>FAVOURITES</h1>
        </div>
    </div>
}

<div class="card border clearfix">
    <div id="addressTable">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Hash</th>
                    <th class="text-right">Balance</th>
                    <th class="hidden-xs text-right">Last seen</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(favourite, i) in currentPageItems">
                    <td class="text-center" style="width: 40px;">
                        <a class="watch-address" href="#" v-on:click="editFavourite(favourite)">
                            <span class="fa fa-pencil"></span>
                        </a>
                    </td>
                    <td class="text-center" style="width: 40px;">
                        <a class="watch-address" href="#" v-on:click="removeFavourite(favourite)">
                            <span class="fa fa-trash-o"></span>
                        </a>
                    </td>
                    <td class="hash-cell">
                        <a v-bind:href="'/addresses/' + favourite.addressDto.hash">
                            <div v-if="favourite.alias">
                                {{ favourite.alias }}
                            </div>
                            <div v-if="!favourite.alias">
                                <span class="visible-xs">{{ truncateHash(favourite.addressDto.hash, 5) }}</span>
                                <span class="visible-sm">{{ truncateHash(favourite.addressDto.hash, 20) }}</span>
                                <span class="hidden-xs hidden-sm">{{ favourite.addressDto.hash }}</span>
                            </div>
                        </a>
                    </td>
                    <td class="text-right">{{ favourite.addressDto.balance.toLocaleString() }} <span style="font-size: 10px;">NXS</span></td>
                    <td class="hidden-xs text-right"><a v-bind:href="'/blocks/' + favourite.addressDto.lastBlockHeight">{{ favourite.addressDto.lastBlockHeight.toLocaleString() }}</a></td>
                </tr>
            </tbody>
        </table>

        <bootstrap-pager v-if="!pagingDisabled"
                         v-on:page-change="changePage"
                         v-bind:page-count="@Math.Ceiling((double)Model.FavouriteAddresses.Count / 10)"
                         v-bind:current-page="currentPage"
                         v-bind:disabled="currentPageItems.length === 0"></bootstrap-pager>
    </div>
</div>

@section Modals {
    <div class="modal fade" id="editFavouriteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Favourite</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span class="text-danger" v-if="errorMessage">{{ errorMessage }}</span>
                    <div class="form-group">
                        <label>Hash</label>
                        <p>{{ bufferItem.hash ? bufferItem.hash : '' }}</p>
                    </div>
                    <div class="form-group">
                        <label>Alias</label>
                        <input class="form-control" v-model="bufferItem.alias"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" v-on:click.prevent.stop="updateFavourite">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script language="javascript" src="@ViewBag.ControllerJs"></script>
    <script language="javascript">
        var vm = new nexplorer.FavouritesIndexViewModel({
            favourites: @Json.Serialize(Model.FavouriteAddresses)
        });
    </script>
}
