@model Nexplorer.Web.Models.AccountViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="card border">
    <h2>@ViewData["Title"]</h2>
    <h4>Enter your username and email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
