@using Nexplorer.Domain.Enums;

@model Nexplorer.Web.Models.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

@section Header {
    <div id="hero" class="jumbotron jumbotron-fluid"></div>
    <div id="heroText" class="jumbotron jumbotron-fluid">
        <div class="container-fluid max-width">
            <h1>@(((string)ViewData["Title"]).ToUpper())</h1>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-8 col-sm-push-4">
        <div class="panel">
            <h4 style="margin-top: 0;">Why Register?</h4>
            <p>
                Firstly there's no need to register to explore the block chain, registration is only required to use certain features. No personal information is
                taken from you, and any information you do provide will not be shared with anyone or anything, ever.
            </p>
            <p>Currently the following features require registration:</p>
            <ul>
                <li>Favourite addresses</li>
                <li>Set addresses alias</li>
                <li>Set default currency</li>
                <li>Post and respond to messages on addresses</li>
            </ul>
            <p>Feel free to use a throw away email address. The email address you provide will be used to send alerts that you set up and can be configured in the account section.</p>
        </div>
    </div>
    <div class="col-sm-4 col-sm-pull-8">
        <div class="panel">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Currency"></label>
                    <select asp-for="Currency" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(Currency))"></select>
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top: 30px">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
