@using System.Globalization
@model StakingViewModel

@{
    ViewBag.Title = "Staking";
    Layout = "_Layout";
}

@section Head {
    <link rel="stylesheet" href="@ViewBag.ControllerCss" />
}

@section Header {
    <div id="hero" class="jumbotron jumbotron-fluid"></div>
    <div id="heroText" class="jumbotron jumbotron-fluid">
        <div class="container-fluid max-width">
            <div id="heroHeader">
                <h1>
                    STAKING
                </h1>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="row">
                <div class="col-9">
                    <h2>CONTENTS</h2>
                </div>
                <div class="col-3 text-right">
                    <span class="fa fa-cube"></span>
                </div>
            </div>
            <h3>Transaction Type</h3>
            <p class="val"></p>
            <h3>Inputs</h3>
            <p class="val"></p>
            <h3>Outputs</h3>
            <p class="val"></p>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="panel">
            <div class="row">
                <div class="col-9">
                    <h2>CHAIN</h2>
                </div>
                <div class="col-3 text-right">
                    <span class="fa fa-link"></span>
                </div>
            </div>
            <h3>Confirmations</h3>
            <p class="val"></p>
            <h3>Height</h3>
            <p class="val"></p>
            <h3>UTC Time</h3>
            <p class="val"></p>
        </div>
    </div>
</div>

@section Scripts {
    <script language="javascript" src="@ViewBag.ControllerJs"></script>
    <script language="javascript">
        var vm = new nexplorer.StakingIndexViewModel({

    });
    </script>
}
